[xfs_1k]
MKFS_OPTIONS="-b size=1024"
MOUNT_OPTIONS=""
FSTYP="xfs"
RESULT_BASE=/root/results
TEST_DEV=/dev/disk/by-label/test
TEST_DIR=/mnt/test
SCRATCH_DEV=/dev/disk/by-label/scratch
SCRATCH_MNT=/mnt/scratch

[xfs_4k]
MKFS_OPTIONS="-b size=4096"
MOUNT_OPTIONS=""

[xfs_1k_quota]
MKFS_OPTIONS="-b size=1024"
MOUNT_OPTIONS="-o quota"

[xfs_4k_quota]
MKFS_OPTIONS="-b size=4096"
MOUNT_OPTIONS="-o quota"
